
.footer {
  color: #fff;
  /*  This is hidden right now. On Admission and Alums, it's
      only revealed after the user has scrolled a little ways
      down the page, since having it appear right at the top
      of the page would be awkward. However, revealing it
      requires additional scripting which might not be
      available across our sites, so I'm leaving it hidden
      for now.
  */
}
.footer * {
  /* "1rem" could mean different things on different sites */
  font-size: 16px !important;
}
.footer .footer-section {
  font-family: "Source Sans Variable";
  padding: clamp(0.2rem, 4%, 4rem);
  padding-top: calc(1.575rem + 3.9vw);
}
.footer a:link, .footer a:visited, .footer .btn-link:link, .footer .btn-link:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.footer a:link:hover, .footer a:link:focus, .footer a:visited:hover, .footer a:visited:focus, .footer .btn-link:link:hover, .footer .btn-link:link:focus, .footer .btn-link:visited:hover, .footer .btn-link:visited:focus {
  border-bottom-color: #fff;
}
.footer .theme-dark-burgundy {
  background: #641a2b;
}
.footer .theme-darkest-burgundy {
  background: #3d0f1a;
}
@media (min-width: 768px) {
  .footer .footer__main-content-container {
    display: flex;
    gap: clamp(1rem, 4vw, 4rem);
  }
}
.footer .footer-row {
  margin: 1rem 0;
}
@media (min-width: 992px) {
  .footer .link-collection {
    display: flex;
    gap: 0.8rem;
  }
}
.footer .vassar-logo-svg {
  fill: #fff;
  width: 180px;
}
.footer .footer__main-content-primary {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .footer__main-content-primary {
    text-align: left;
    width: 66%;
  }
}
@media (min-width: 992px) {
  .footer .footer__main-content-primary {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .footer .footer-feature-module {
    text-align: left;
    width: 33%;
  }
}
@media (min-width: 992px) {
  .footer .footer-feature-module {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .footer .footer-feature-module {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .footer-feature-module img {
  width: 100%;
}
.footer .footer-feature-module .module-link__label {
  display: inline-block;
  line-height: 1;
  margin-top: 0.8rem;
}
.footer .footer-feature-module .feature-image-container {
  display: block;
  border-radius: 0.2rem;
  overflow: hidden;
  line-height: 0;
}
.footer .footer-feature-module .footer-feature-module__link,
.footer .footer-feature-module .footer-feature-module__link img {
  transition: 0.4s all ease;
}
.footer .footer-feature-module .footer-feature-module__link:hover img {
  transform: scale(1.04);
  filter: brightness(110%);
}
.footer .btn-link.arrow-no-circle:after {
  content: "→";
  font-size: 1.4rem;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.6rem;
}
.footer .btn-link.arrow-circle:after {
  content: "→";
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  padding-bottom: 0.12rem;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
}
.footer hr {
  border: none;
  border-top: 1px solid #fff;
  margin: 2rem 0;
  opacity: 0.2;
}
.footer .inline-list {
  padding-left: 0;
  margin: 2rem 0;
}
.footer .inline-list li {
  display: inline;
  list-style: none;
  margin-right: 0.8rem;
}
.footer .link-to-top {
  position: fixed;
  bottom: 2rem;
  left: calc(50vw - 3.4rem);
  padding: 0.1rem 0.6rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  z-index: 1000;
  opacity: 0;
  transition: 0.4s all ease;
  border: 1px solid #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
}
.footer .pt-0 {
  padding-top: 0 !important;
}
.footer .mt-0 {
  margin-top: 0 !important;
}
.footer .text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .text-left-md {
    text-align: left;
  }
}

.social-icon-link svg {
  width: 1.2rem;
  height: 1.2rem;
}
.social-icon-link svg path {
  fill: #fff;
}
